.App {
  text-align: center;
  width: 440px;
}

/*Alt: https://stackoverflow.com/questions/16263358/quarter-of-a-ring-with-css-and-html */
.Board {
  display: flex;
  flex-flow: row wrap;
}

/* Button shapes */
.button {
  border-color: black;
  border-width: 10px;
  border-style: solid;

  width: 200px;
  height: 200px;
}

:root {
  --radius: 200px;
}

.top-left {
  border-top-left-radius: var(--radius);
}
.top-right{
  border-top-right-radius: var(--radius);
}
.bottom-left {
  border-bottom-left-radius: var(--radius);
}
.bottom-right {
  border-bottom-right-radius: var(--radius);
}

/* Colors */
.red-clicked {
  background-color: rgb(221, 74, 87);
}
.red {
  background-color: rgb(222, 45, 60);
}

.yellow-clicked {
  background-color: rgb(243, 243, 129);
}
.yellow {
  background-color: rgb(233, 233, 12);
}

.green-clicked {
  background-color: rgb(75, 224, 75);
}
.green {
  background-color: rgb(26, 201, 26);
}

.blue-clicked {
  background-color: rgb(69, 141, 235);
}
.blue {
  background-color: rgb(22, 112, 230);
}


/* ====== Original react app ====== */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
